{
  "singleQuote": true,
  "printWidth": 250,
  "editor.formatOnSave": true,
  "proseWrap": "preserve",
  "tabWidth": 2,
  "requireConfig": false,
  "useTabs": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "semi": true
}
