{
	"singleQuote": true,
	"printWidth": 60,
	"editor.formatOnSave": true,
	"proseWrap": "preserve",
	"tabWidth": 2,
	"requireConfig": false,
	"useTabs": true,
	"trailingComma": "none",
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"semi": true
}
